@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #EC362D;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);

    height: 70px;

    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 70px;
    height: 100vh;
}

.pag-criacao-quizz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pag-criacao-perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-instrucao {
    font-size: 23px;
    font-weight: bold;
    margin-top: 140px;
    margin-bottom: 30px;
}

.subtitulo-instrucao {
    font-size: 20px;
    font-weight: bold;
}

.caixa-perguntas {
    width: 600px;
    height: 825px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.caixa-especificacoes {
    width: 600px;
    height: 255px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

input {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    width: 565px;
    height: 45px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding-left: 20px;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #BABABA;
    font-style: italic;
    font-weight: 400;
}

.caixa-perguntas input {
    margin-top: 15px;
}

.botao {
    width: 355px;
    height: 55px;
    font-size: 21px;
    color: #FFF5F4;
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 80px auto;
}

.display-sem-quizz {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px dashed #D4D4D4;
    border-radius: 5px;
    margin-top: 50px;
    
    height: 180px;
    width: 75%;
}

.ainda-nao-criou {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    height: 90px;
    width: 70%;
}

.ainda-nao-criou h2 {
    font-size: 20px;
    font-weight: 400;
    color: #B9B9B9;
    text-align: center;
    
    width: 200px;
}

.ainda-nao-criou h3 {
    width: 151px;
    height: 40px;

    border: 1px dashed #EC362D;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.display-sem-quizz h2 {
    font-size: 20px;
    font-weight: 400;
    color: #B9B9B9;
}

.display-sem-quizz h3 {
    font-size: 20px;
    font-weight: 400;
    color: #EC362D;
}

.header h1 {
    color: white;
    font-size: 37px;
    font-weight: bold;
}
































/*---------------------- TELA LISTAR O QUIZZ DE TODOS OS USUÁRIOS --------------------------------*/


.todos-quizzes {
    width: 75%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-top: 60px;    
}

.todos-quizzes h2 {
    font-size: 20px;
    font-weight: bold;

    margin-bottom: 12px;
}

.lista-todos-quizzes {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.lista-todos-quizzes div {
    width: 341px;
    height: 181px;

    display: flex;
    justify-content: center;

    position: relative;

    margin-bottom: 12px;

    background-image: linear-gradient(to bottom, transparent 62%, black 100%);
}

.lista-todos-quizzes img {
    border-radius: 5px;

    width: 100%;
    height: 100%; 
}

.lista-todos-quizzes p {
    /*margin: 0 21px 13px 18px;*/

    font-size: 19px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);

    position: absolute;
    bottom: 13px;
    left: 18px;
}


/*-------------- TELA 2 DO QUIZZ --------------*/
.banner-pagina-de-um-quizz {  /*Voltar aqui*/
    width: 100%;
    height: 227px;

    margin-top: 70px;
}

.pagina-de-um-quizz-inteiro {
    width: 759px;

    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
}

.quizz {
    background-color: #FFFFFF;

    padding: 30px;
    margin-bottom: 42px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.quizz span {
    background-color: #434CA0;

    width: 100%;
    height: 138px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.quizz h3 {
    color: #FFFFFF;
    font-size: 23px;
    font-weight: bold;
}

.caixa-imagens-quizz {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin-top: 18px;
}

.caixa-imagens-quizz p {
    font-size: 20px;
    font-weight: bold;

    margin: 8px 0 20px 0;
}












/*----------------- MOBILE -----------------*/

@media (max-width: 1110px) {

    .caixa-especificacoes {
        width: 100vw;
    }

    .caixa-perguntas {
        width: 100vw;
    }

    input {
        width: 95%;
    }

   
    .todos-quizzes {
        margin: 45px 17px 0 17px;

        max-width: 340px;
    }

    .lista-todos-quizzes {
        flex-direction: column; 
    }


}